* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

section {
    scroll-behavior: smooth;
}

#home {
    box-sizing: border-box;
    padding: 0px 0px 50px;
    scroll-behavior: smooth;

}

#sobre {
    margin-top: 20px;

}


#produtos {
    padding: 20px 36px 50px;

}

#contato {
    display: flex;
    flex-direction: column;
    /* Empilhar os elementos verticalmente */
    align-items: center;
    /* Centralizar na direção transversal (horizontal) */
    text-align: center;
    /* Centralizar o texto dentro do container */

}
ul{
    
    list-style-type: none;
  
}
nav {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 15px;
    box-shadow: 0px 3.66337px 3.66337px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 50;


}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
}

.logo img {
    width: 20px;
    height: 20px;
}

.item {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Kumbh Sans', sans-serif;

}

.container__pesquisar {
    right: 10px;
    position: absolute;
    gap: 10px;
    width: auto;
    height: 50px;
    align-items: center;
    display: flex;

}

.caixa {
    display: flex;
    border-radius: 5px;
    border: 0px transparent;
    outline: none;
}

.lupa {
    width: 25px;
    height: 25px;
}

.sacola {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.caixa input {
    width: 120px;
    height: 20px;
    color: black;
    border-radius: 7px;
    border: 0px transparent;
    display: flex;
    outline: none;
    padding-left: 5px;

}

input {
    color: black;
}

.container__slide {
    width: 100%;
    height: 400px;
    background: #181818;
    margin-top: 100px;
}


#slideshoww{
    width: 100%;
    height: 740px;
    margin-top: 120px;
    margin-bottom: 200px;
    object-fit:cover;
    
}


.slide__showww{
    height: 600px;
    width: 100%;
   
}

/* posicionamento do carrosel*/




/* CSS da seção de animes */


.calças__destaques .carousel {
    border-radius: 12px;
}

.camisas__destaques__carousel .carousel {
    border-radius: 12px;
}

.acessorios__destaques__carousel .carousel {
    border-radius: 12px;
}

/* CSS do carrossel */

.carousel {
    position: relative;
    /* Por causa dos botões absolutos */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel__next,
.carousel__previous {
    position: absolute;
    top: 50%;
    appearance: none;
    overflow: hidden;
    background-color: #303030;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0 none transparent;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
    will-change: transform;
    z-index: 5;
    font-family: monospace;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    cursor: pointer;

}

.carousel__next:active {
    transform: translateX(10px) translateY(-50%);
}

.carousel__previous:active {
    transform: translateX(-10px) translateY(-50%);
}

.carousel__next {
    right: 0;
    border-radius: 100%;
}

.carousel__previous {
    left: 0;
    border-radius: 100%;
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px;
    border: 0 transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card p{
    font-family: 'Kumbh Sans', sans-serif;
}
.container__cards {
    padding-top: 25px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;



}

.card {
    width: 220px;
    height: 360px;
    background-color: #343434;
    border: 0px transparent;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card p {
    color: white;
    padding-bottom: 9px;
}

.card button {
    background-color: red;
    width: 100%;
    height: 30px;
    color: white;
    border: 0 transparent;
    outline: none;
    cursor: pointer;
}
.card1 button {
    background-color: red;
    width: 100%;
    height: 30px;
    color: white;
    border: 0 transparent;
    outline: none;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
}

.card1 {
    width: 220px;
    height: 340px;
    

}



.card1 img {
    border: 0px transparent;
    border-radius: 20px 20px 0px 0px;
}

.carousel__slides1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: fit-content;
    transition: transform 0.2s ease-in;
    will-change: transform;
    padding: 3px;

}


/* CSS do card */

.card {
    padding: 20px;
}

.card__link,
.card__image {

    width: 100%;
    height: 80%;
}

.card__image {
    object-fit: cover;
    object-position: center;
}

.card__link,
.card__imagee {
    width: 100%;
    height: 90%;
}

.card__imagee {
    object-fit: cover;
    object-position: center;
}





.demonstraçãoo {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    /* Exibe os filhos em coluna */
    align-items: center;
    justify-content: center;
    text-align: center;



}

.demonstração {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    color: white;
}

.demonstração__linha {
    background-color: red;
    width: 300px;
    height: 3px;
    display: flex;


}

.paralaxx {
    width: 100%;
    height: 350px;
    display: block;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}
.paralax img{
    width: 100%;
    height: 350px;

}


.container__sobre {
    width: 100%;
    height: 700px;
    background: #181818;
    display: flex;
    
}
.img__sobre{
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 200px;

}
.img__sobre img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container__text__sobre p{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container__text__sobre {
    width: 40%;
    color: white;
    font-size: 26px;
    background-color: #212121;
    height: 100%;
    padding: 20px 40px 40px 90px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: normal;
}

.title__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
    text-align: center;



}

.produtos__title {
    font-family: 'Kumbh Sans', sans-serif;
    border: 5px red solid;
    padding: 10px;
    color: white;

}

.container__titulo__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.contato {
    font-family: 'Kumbh Sans', sans-serif;
    border: 5px red solid;
    padding: 10px;
    color: white;
}

.calça {
    padding: 10px 30px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

.camisas {
    padding: 20px 30px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

.acessorios {
    padding: 20px 30px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

.calças__destaques {
    box-sizing: border-box;
    overflow: hidden;
    height: 370px;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    background: #131313;
    padding: 10px;
}

.camisas__destaques {
    box-sizing: border-box;
    overflow: hidden;
    height: 370px;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    background: #131313;
    padding: 10px;
}

.acessorios__destaques {
    box-sizing: border-box;
    overflow: hidden;
    height: 370px;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    background: #131313;
    padding: 10px;
}

.formulario {
    background: #181818;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;



}

.input_box {
    padding-bottom: 10px;
}

.input_box1 {
    padding-bottom: 10px;
    padding-bottom: 50px;
}

.input_box input {
    width: 260px;
    height: 40px;
    background-color: #1f1f1f;
    color: white;
    border: 0 transparent;
    padding: 2px;
    outline: none;
    font-size: 15px;
    padding: 10px;


}

.input_box1 input {
    width: 260px;
    height: 80px;
    background-color: #1f1f1f;
    color: white;
    border: 0 transparent;
    padding: 2px;
    outline: none;
    font-size: 15px;
    padding: 10px;
}

.formulario button {
    width: 260px;
    height: 30px;
    background-color: red;
    color: white;
    border: 0 transparent;


}

.container__contatos {
    display: flex;
}

.container__form {
    width: 300px;
}


.container__contato {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    align-items: center;
    gap:20px;
}
.accordion {
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
  }
  
  .active, .accordion:hover {
    background-color: #313131; 
  }
  
  .panel {
    padding: 20px;
    display: none;
    background: #131313;
    overflow: hidden;
    width: 300px;
    
   
  }
  .panel h2{
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-left: 20px;
  }
  .panel img{
    width: 20px;
    
  }
  .panel .contatos__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajuste conforme necessário para o espaçamento desejado */
}

.botao__saber{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.footer{
    background-color:  #131313;
    width: 100%;
    height:auto;
    text-align: center;
    margin-top: 20px;

}
.footer h2{
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    
}
li::marker{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 700px){
    .caixa input{
        display: none;
    }
    .item{
        font-size: 15px;

    }
    nav ul{
        gap: 15px
    }
    .logo{
        width:75px;
        height: 85px;
    }
    .lupa{
        display: none;
    }
    nav{
        padding: 0px;
    }
    li::marker{
        display: none;
    }
    .container__text__sobre p{
        font-size: 15px;
        padding:0;
    }
    .container__text__sobre{
        padding: 10px;
    }
    .img__sobre{
        width: 200px;
        height: 500px;
        justify-content: center;
        align-items: center;
        padding: 280px 00px 10px 10px;
    
    }
    .container__sobre {
        width: 100%;
        height: 400px;
        background: #181818;
        display: flex;
        
    }
    .img__sobre{
        width: 230px;
        height: 500px;
        justify-content: center;
        align-items: center;
        padding: 130px 0px 10px 10px;
    
    }
}